#page-discography {
  color: #e0e0e0;
  font-size: 16px;

  & h3 {
    margin: 0;

    font-weight: 700;
    line-height: 27px;
    text-transform: capitalize;
  }

  & p {
    margin: 0;
    padding: 0;
  }

  & .container-main {
    text-align: left;
  }
}

.discography-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: start;
  row-gap: 25px;
}

.discography {
  width: 250px;

  & img {
    width: 250xp;
    height: 250px;
    margin-bottom: 11px;
  }
}
.disk-name {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}

@media (max-width: 600px) {
  .discography {
    width: 137px;

    & img {
      width: 137px;
      height: 137px;
    }
  }
  .discography-grid {
    grid-template-columns: 1fr 1fr;
  }
}
