footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  color: #e0e0e0;

  a {
    color: #e0e0e0;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  .container-main {
    padding: 0;

    h2 {
      margin: 18px 0 15px;
      font-size: 18px;
      font-weight: bold;
      line-height: 27px;
    }
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 44px 0 72px;
    gap: 40px;
    text-align: left;

    & img {
      vertical-align: middle;
    }

    & p {
      margin: 0;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
  }
}

.subscription-menu {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-grid-item {
  display: flex;
  flex-direction: column;
}

.footer-menu {
  border-top: 2px solid #cacaca;

  .container-main {
    padding: 40px 0;
    text-align: left;
  }

  & ul {
    display: flex;
    gap: 16px;
  }
}

@media (max-width: 1240px) {
  footer {
    h2 {
      line-height: 27px;
    }

    .footer-grid {
      gap: 13px;
      padding: 45px 20px 75px;
    }
  }

  .footer-menu {
    .container-main {
      padding: 40px 20px;
    }
  }
}

@media (max-width: 800px) {
  footer {
    h2 {
      margin: 18px 0 15px;
      line-height: 27px;
    }

    .footer-grid {
      grid-template-columns: 1fr;
    }
  }

  .footer-menu {
    a {
      display: block;
    }

    ul {
      flex-direction: column;

      & li {
        margin: 0;
        padding: 0;
      }
    }
  }
}
