footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  color: #e0e0e0;

  .container-main {
    padding: 0;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 44px 0 72px;
    gap: 40px;
    text-align: left;
    & img {
      vertical-align: middle;
      margin-right: 24px;
    }
    & a {
    }
    & p {
      margin: 0;
    }
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  a {
    color: #e0e0e0;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}

footer .footer-grid img {
  margin-right: 24px;
}

footer h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

footer a {
  color: #e0e0e0;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

.footer-grid-item {
  display: flex;
  flex-direction: column;
}

.footer-menu {
  border-top: 2px solid #cacaca;

  .container-main {
    padding: 40px 0;
    text-align: left;
  }

  & ul {
    display: flex;
    gap: 16px;
  }
}

@media (max-width: 1240px) {
  footer {
    h3 {
      line-height: 24px;
    }
    .footer-grid {
      gap: 13px;
      padding: 45px 20px 70px;
    }
  }

  .footer-menu {
    .container-main {
      padding: 40px 20px;
    }
  }
}

@media (max-width: 800px) {
  footer {
    .footer-grid {
      grid-template-columns: 1fr;
    }
  }

  .footer-menu {
    a {
      display: block;
    }

    ul {
      flex-direction: column;
      & li {
        margin: 0;
        padding: 0;
      }
    }
  }
}
