#page-description {
  &.index {
    background: center url(../images/banner.png);
    background-size: cover;

    .container {
      margin-top: 50px;
    }
  }

  &.artist {
    text-align: left;

    background: center url(../images/MortenHarket.png);
    background-size: cover;
  }

  & h1,
  h2 {
    margin: 0;
    padding: 0;
  }
}

nav {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;

  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;

  .logo {
    display: flex;
    flex: 0 0 190px;
    align-items: center;

    & img {
      width: 24px;
      height: 24px;
    }

    & span {
      margin-left: 16px;
    }
  }

  .main-nav {
    display: flex;
    gap: 24px;

    a {
      color: #cacaca;

      line-height: 14px;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }

  .search {
    min-width: 250px;
    padding: 5px 10px;

    color: #757575;
    background: #3c3b3d;

    font-size: 13px;
    text-transform: uppercase;

    border: none;
    border-radius: 50px;

    &::placeholder {
      color: #757575;
    }
  }
}

.hero {
  .artist {
    margin-top: 50px;
  }

  .index {
    margin-top: 0;
  }

  p {
    margin-top: 1em;
  }

  & form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;

    max-width: 570px;
    margin: 0 auto;

    & .btn-green {
      padding: 20px 30px;

      background: #34c176;

      &:hover {
        background: #279259;
        cursor: pointer;
      }
    }

    & input {
      margin: 0;
      min-height: 44px;
      padding: 1px 0 1px 20px;

      background: transparent;
      color: #fff;
      border: #cacaca 2px solid;
      border-radius: 3px;

      &:hover {
        border-color: #fff;
      }

      &::placeholder {
        color: #fff;
      }
    }

    & .flex-item {
      flex: 1 1 38%;
    }
  }
}

.index .hero p {
  margin-top: 2em;
}

.btn-purple {
  background-color: #5328a1;

  &:hover {
    background-color: #6230c0;
  }
}

.btn-red {
  background-color: #95390c;

  &:hover {
    background-color: #b3450f;
  }
}

.btn-img {
  display: inline-flex;
  padding: 20px 30px;

  line-height: 22px;
  align-items: center;
  gap: 16px;

  width: 200px;
  font-size: 12.8px;

  cursor: pointer;

  img {
    width: 20px;

    vertical-align: middle;
  }
}

.flex-btns {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

@media (max-width: 1240px) {
  nav {
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: initial;
    gap: 16px;
    padding: 0 20px;

    .logo {
      flex-basis: 100%;
    }

    .search {
      flex-grow: 1;
    }

    .main-nav {
      flex-direction: column;
      width: fit-content;
      gap: 3px;

      li {
        display: inline;
      }
    }
  }

  .flex-btns {
    flex-direction: column;
  }

  .hero {
    p {
      margin-top: 1em;
    }

    & form {
      flex-direction: column;
    }
  }

  .hero {
    margin-top: 48px;
  }

  .artist {
    .container {
      margin-top: -23px;
    }
  }
}
