#page-description {
  &.index {
    background: center url(../images/banner.png);
    background-size: cover;
  }

  &.artist {
    background: center url(../images/MortenHarket.png);
    background-size: cover;
  }

  & h1,
  h2 {
    margin: 0;
    padding: 0;
  }
}

nav {
  position: absolute;
  max-width: 100%;
  top: 25px;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  .logo {
    display: flex;
    flex: 0 0 190px;
    align-items: center;

    & img {
      width: 24px;
      height: 24px;
    }

    & span {
      margin-left: 16px;
    }
  }

  .main-nav {
    flex: 1 1 auto;
    & li {
      display: inline-block;
      margin-right: 24px;
    }
  }

  .search {
    flex: 0 1 250px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background: #3c3b3d;
    color: #757575;
    font-size: 14px;
    text-transform: uppercase;

    &::placeholder {
      color: #757575;
    }
  }
}

.hero {
  p {
    margin-top: 2em;
  }
  & form {
    max-width: 570px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 auto;

    & .btn-green {
      background: #34c176;

      &:hover {
        background: #279259;
        cursor: pointer;
      }
    }

    & input {
      padding-left: 20px;
      min-height: 50px;
      background: transparent;
      border: #cacaca 2px solid;
      border-radius: 3px;
      color: #fff;

      //   для полей Внешний нижний отступ: 1.5rem ???

      &:hover {
        border-color: #fff;
      }

      &::placeholder {
        color: #fff;
      }
    }

    & .flex-item {
      flex: 1 1 38%;
    }
  }
}

.btn-purple {
  background-color: #5328a1;
  &:hover {
    background-color: #6230c0;
  }
}

.btn-red {
  background-color: #95390c;
  &:hover {
    background-color: #b3450f;
  }
}

.btn-img {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 20px 30px;
  width: 200px;
  font-size: 12.8px;
  cursor: pointer;
  img {
    width: 20px;
    fill: #fff;
  }
}

.flex-btns {
  display: flex;
  gap: 24px;
  margin: 48px 0;
}

@media (max-width: 1240px) {
  nav {
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 0 20px;
    gap: 1em;

    .logo {
      flex-basis: 100%;
    }

    .search {
      flex-grow: 1;
    }
    .main-nav {
      flex-basis: 100%;
      gap: 0.5em;
      & li {
        display: block;
        margin-bottom: 3px;
      }
    }
  }
  .flex-btns {
    flex-direction: column;
  }
}
