#page-news {
  .container-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.news-item {
  display: flex;
  gap: 50px;

  text-align: left;

  & div {
    flex: 1 1 50%;
  }

  & img {
    width: 100%;
  }
}

.reverese {
  flex-direction: row-reverse;

  margin-top: 60px;
}

.news-body {
  color: #cacaca;
  font-size: 16px;
  line-height: 24px;

  p {
    margin-top: 2em;
  }

  & h3 {
    margin: 0;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
  }
}

.btn-gray {
  padding: 16px 30px;

  color: #cacaca;

  border: #cacaca 1px solid;

  &:hover {
    color: #fff;

    border-color: #fff;
  }
}

.news-author {
  display: flex;
  gap: 16px;

  margin-bottom: 64px;

  align-items: center;

  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;

  .avatar {
    img {
      vertical-align: middle;
    }
  }

  .category {
    color: #f89202;
  }

  .date {
    color: #cacaca;
  }
}

@media (max-width: 800px) {
  .news-footer {
    margin-top: 21px;
  }

  .news-author {
    margin-bottom: 64px;
  }

  .news-item {
    flex-direction: column;
    gap: 43px;
  }

  .news-body {
    & h3 {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      margin-top: 1em;
    }
  }

  .reverese {
    margin-top: 78px;
  }
}
