#page-similar {
  margin-bottom: 100px;
  color: #e0e0e0;

  & h3 {
    margin: 0;
  }

  & p {
    margin: 0;
  }

  & .container-main {
    text-align: left;
  }
}

.discography {
  width: 250px;
}
