#page-news {
  .container-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.news-item {
  display: flex;
  gap: 50px;
  text-align: left;
  & div {
    flex: 1 1 50%;
  }
  & img {
    width: 100%;
  }
}

.reverese {
  margin-top: 60px;
  flex-direction: row-reverse;
}

.news-body {
  color: #cacaca;
  font-size: 16px;
  line-height: 24px;

  p {
    margin-top: 2em;
  }

  & h3 {
    margin: 0;
    font-size: 30px;
    line-height: 45px;
    text-transform: none;
  }
}
.btn-gray {
  padding: 16px 30px;
  border: #cacaca 1px solid;
  color: #cacaca;

  &:hover {
    color: #fff;
    border-color: #fff;
  }
}

.news-author {
  display: flex;
  gap: 16px;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 64px;
  font-size: 13px;
  line-height: 20px;
  .avatar {
  }
  .category {
    color: #f89202;
  }
  .date {
    color: #cacaca;
  }
}

@media (max-width: 1240px) {
}

@media (max-width: 800px) {
  .news-footer {
    margin-top: 21px;
  }
  .news-author {
    margin-bottom: 64px;
  }
  .news-item {
    gap: 43px;
    flex-direction: column;
  }
  .news-body {
    & h3 {
      font-size: 16px;
      line-height: 24px;
    }
    p {
      margin-top: 1em;
    }
  }
  .reverese {
    margin-top: 78px;
  }
}
