#page-app {
  margin-bottom: 100px;

  p {
    color: #cacaca;
  }
}

.btn-app {
  padding: 16px 40px;
  font-size: 12.8px;
  background-color: #95390c;
  border-radius: 32px;

  &:hover {
    background-color: #ad430e;
    cursor: pointer;
  }
}

.two-column {
  display: flex;
  text-align: left;

  & div {
    flex: 1 1 50%;
  }
}

.centered {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .two-column {
    flex-direction: column-reverse;
  }
}
