#page-popular-track {
  color: #e0e0e0;
  font-size: 12.8px;

  & h3 {
    margin: 0;

    font-size: 12.8px;
    line-height: 19.2px;
  }

  & .container-main {
    text-align: left;
  }
}

.tracks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 50px;
  row-gap: 25px;
}

.popular-track {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;

  & img {
    width: 55px;
    height: 55px;
  }
}

.empty-grow {
  flex: 1 1 auto;
}

.track-info {
  & p {
    margin: 0;
    padding: 0;
  }
}

.track-name {
  color: #fff;

  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .tracks-grid {
    grid-template-columns: 1fr;
  }
}
