@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background: #08020d;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: #fff;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  padding: 200px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.container-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 0;

  & h2 {
    margin: 0 0 48px 0;
    padding: 0;
  }
}

.text-align-center {
  text-align: center;
}

input {
  font-size: 14px;
}

.btn {
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 1240px) {
  .container-main {
    padding: 100px 20px 0 20px;
  }

  .container {
    padding: 200px 20px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .container {
    max-width: 100%;
    position: relative;
    padding: 248px 20px 200px 20px;
  }
}
